.glass-button {
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}

.glass-button:hover {
    transform: scale(1.05);
}

.glass-button:active {
    transform: scale(0.95);
}

.glass-button-ready {
    animation: fadeInGlass 0.1s ease-in forwards;
}

@keyframes fadeInGlass {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.glass-reflection {
    transform: scale(1);
    opacity: 0.1;
    transition: all 0.5s ease;
}

.glass-button-wrapper:hover .glass-reflection {
    transform: scale(1.2);
    opacity: 0.3;
}